body{
    margin: 0;
    font-family: sans-serif;
}

@font-face {
   font-family: sans-serif;
   src: url(Roboto-Light.ttf);
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: aqua; */
    /* border: 2px solid black; */
    box-shadow: 0.5px 0.5px 10px black;
    height: 70px;
    /* position: fixed; */
 }

 .buttons{
    display: flex;
    flex-direction: row;
    /* background-color: yellow; */
    /* position: absolute; */
    /* right: 50px; */
    /* margin-left: 500px; */
    padding: 20px;
    /* justify-content: flex-end; */
    width: 400px;
    align-items: center;
    /* padding: 20px; */
    /* justify-items: center; */
    justify-content: space-evenly;
    margin-left: 850px;
 }


.logo{
    /* position: relative; */
    /* left: 50px; */
    margin-left: 50px;
 }

 
 .login{
    border: 1px solid black;
    width: 70px;
    padding: 5px;
    height: 30px;
    border-radius: 10px;
 } 
 .signup{
    border: 1px solid black;
    width: 70px;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
    background-color: #FC0FC0;
    color: white;
    font-size: small;
 } 

 .signup:hover{
    /* transform: scale(1.2); */
    /* background-color: whitesmoke; */
    /* transition: 1ms; */
    width: 75px;
    height: 35px;
 }
 .login:hover{
    /* transform: scale(1.2); */
    /* background-color: whitesmoke; */
    /* transition: 1ms; */
    width: 75px;
    height: 35px;
 }

 .section1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #dce0e6;
 }

 .image{
    /* position: relative;
    right: 1px; */
    /* margin-right: 100px; */
    /* background-color: #FC0FC0; */
    display: inline-block;
 }
 .section1a{
    display: flex;
    flex-direction: column;
 }

 .search{
    width: 550px;
    /* height: 50px; */
    /* background-color: #FC0FC0; */
    padding: 20px;
    /* border: 1px solid black; */
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 10px black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }

 .locate{
   margin-left: 20px;
   margin-right: 10px;
 }

 .image2{
   width: 100%;
   /* background-color: aqua; */
   /* height: 25%; */
 }

 .image2>img{
   object-fit: cover;
   background-repeat: no-repeat;
   background-size: cover;
 }
.section2a{
   width: 750px;
   height: 220px;
   background-color: #FC0FC0;
   position: absolute;
   top: 1000px;
   left: 100px;
}
.section3{
   position: relative;
   top: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.text2{
   /* position: relative;
   top: 20px; */
   /* background-color: #FC0FC0; */
   left: 50px;
   display: inline-block;
}

/* .section3a{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 20px;
   flex-wrap: wrap;
} */
/* .section3a > div{
   width: 350px;
   height: 350px;
   background-color: #FC0FC0;
   /* display: flex; */


.section3a > img{
   display: inline-block;
}

.button2{
   z-index: 1; 
   position: relative; 
   bottom:10px; 
   left: 50px;
   width: 50px;
   height: 50px;
   border: 1px solid black;
} 

.search > input{
   outline: none;

}

.section3a > .box1{
   width: 250px;
   height: 250px;
   background-color: #FC0FC0;
   overflow: hidden;
}

.card-image{
   width: 100%;
   height: auto;
   display: blockg;
}

/* body {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   margin: 0;
   background-color: #f9f9f9;
   font-family: Arial, sans-serif;
 } */
 
 .card-container {
   display: flex;
   gap: 20px;
   justify-content: space-around;
   flex-wrap: wrap;
   flex-direction: row;
 }

 
 .card {
   position: relative;
   width: 300px;
   border-radius: 15px;
   overflow: hidden;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   transition: transform 0.3s;
 }
 
 .card:hover {
   transform: scale(1.05);
 }
 
 .card-image {
   width: 100%;
   height: auto;
   display: block;
 }
 
 .label {
   position: absolute;
   bottom: 10px;
   left: 10px;
   background-color: white;
   color: #000;
   font-weight: bold;
   padding: 5px 10px;
   border-radius: 20px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
 }


 .label > a {
   text-decoration: none;
   color: #000;
 }

 .text3{
   position: absolute;
   top: 30px;
   left: 100px;
 }

 .section4{
   position: relative;
   top: 30px;
   width: 100%;
   /* background-color: blue; */
   height: 470px;
 }
.section4a{
   display: flex;
   flex-direction: row;
   justify-content: center;
   position: absolute;
   top: 100px;
   width: 100%;
   height: 400px;
   /* background-color: bisque; */
   align-items: center;
}
 .box1{
   /* display: flex; */
   /* justify-content: center; */
   /* align-items: center; */
   width: 700px;
   height: 300px;
   background-color: #FC0FC0;
   position: relative;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
 }
 .box2{
   width: 700px;
   height: 300px;
   background-color: #FC0FC0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
 }

 .playstore{
   display: flex;
   flex-direction: row;
   position: absolute;
   bottom: 50px;
   left: 20px;
   justify-content: space-evenly;
   /* background-color: aqua; */
   width: 50%;
 }

 .qrcode{
   display: flex;
   flex-direction: row;
   position: absolute;
   bottom: 110px;
   left: 20px;
   width: 100%;
   gap: 20px;
   /* justify-content: space-between; */
   /* align-items: flex-start; */
   /* background-color: blue; */
 }

 .heading{
   position: absolute;
   left: 20px;
 }

 .links > button{
   width: 100px;
   height: 50px;
   background-color: black;
   color: white;
   font-size: medium;
   border-radius: 10px;
   cursor: pointer;
 }

 .qrcode > p{
   font-size: 20px;
   font-weight: 600;
 }

 .section5{
   position: relative;
   width: 100%;
   height: 900px;
   /* background-color: red; */
 }

 .text4{
   position: absolute;
   left: 70px;
 }
   /* width: 70%; */
   /* background-color: aqua; */
   /* z-in*/

.image4{
   width: 100%;
   height: 500px;
   background-color: #000;
   position: absolute;
   top: 70px;
   background-image: url(https://images.deliveryhero.io/image/foodpanda/home-corporate-pk.jpg?width=1264&height=808.96);
   background-repeat: no-repeat;
   background-size: cover;
   height: 700px;
}

.card4{
   width: 700px;
   background-color: white;
   position: absolute;
   height: 200px;
   bottom: 20px;
   left: 70px;
   color: black;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: flex-start;
   padding-left: 20px;
   border-radius: 20px;
   box-shadow: 1px 1px 20px black;
}

.card4 > button{
   position: relative;
   background-color: #FC0FC0;
   color: white;
   border: 10px;
   height: 40px;
   bottom: 10px;
   border-radius: 10px;
   width: 100px;
   font-weight: 300;
}

.card4 > p{
   position: relative;
   font-size: medium;
   font-weight: 400;
   bottom: 20px;
}

.section6{
   position: relative;
   top: 50px;
   width: 100%;
   /* background-color: aqua; */
   height: 1300px;
   display: flex;
   /* flex-direction: column; */
   justify-content: center;
   align-items: flex-start;
   /* padding: 20px; */
   /* padding-left: 20px; */
}
.text6{
   /* background-color: #FC0FC0; */
   position: absolute;
   width: 1200px;

}
.strong1{
   font-size: 25px;
   font-weight: 600;
}

.small1{
   font-weight: 100;
   font-size: 15px;
}


